body {
    background-color: #66ccaa;
    font-family: 'Spartan', sans-serif;
    margin: auto;
}

.title {
    font-style: italic;
    text-align: left;
    font-weight: bold; 
    font-size: 30px;
    margin: 25px 0 0 40px;
    
}

.top-image {
    height: 30px;
    margin-left: 30px;
    vertical-align: sub; 
}

.nav-links {
    background-color: #000;
    padding: 5px;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 80px;
}

a {
    background-color: transparent;
    text-decoration: none; 
    color: #fff;
}

a:hover {
    color: orange;
    font-weight: bold;
    background-color: transparent; 
    text-transform: lowercase;
    cursor: default;

}

.wrapper {
    display: flex;
    flex-wrap: wrap; 
}

.main-content {
    margin-top: 10px;
    flex: 30%;
    width: 100%;
    border: 10px solid red; 
}

.fake-image {
    display: block;
    border: solid #000 2px;
    opacity: 0.7; 
    height: 550px; 
    margin: 25px;   
}

.about-image {
    display: block; 
    border: solid #000 2px;
    width: 550px; 
    height: 650px;
    margin: 25px;
    margin-top: 50px;
}

.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%;
    text-align: center; 
}

/* this was commented out because i couldn't figure out how to get the footer to stick to the bottom.
.footer {
    text-align: center;
    font-weight: bolder;
}
*/

