body {
    background-color: cornsilk;
    font-family: 'Spartan', sans-serif;
    color: #000;
    margin: 0;

}

.header {
    text-align: center;
    color: #000;
}

.header-nav {
    display: flex; 
    padding: -15px;
    background-color: #000;
    letter-spacing: .16em;
}

li {
    display: inline; 
    text-align: right;
}

a {
    text-decoration: none; 
    color: #fff; 
    background-color: transparent;
}

a:hover {
    background-color: cornsilk;
    transition: color 0.5s ease-in-out;
    transition-property: color, background-color;
    color: transparent;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 30%;
    background-color: ;
    padding-left: 100px;
    height: 700px;
}

.fakeimg {
    height: 700px;
    margin: 30px; 
}

.footer {
    text-align: center; 
}