body {
    background-color: #5ed; 
    font-family: sans-serif;
    color: black;
    margin: 50px; 
}

.header {
    text-align: center;
    font-size: 30px; 
}

.navigation {
    padding: 1px;
    font-size: 20px; 
    text-align: center; 
}

a {
    color: black;
    text-decoration: none; 
}
.main-content {
    float: left;
    clear: both;
    border: 2px solid #fff; 
    left: 100px; 
    width: 600px;
    
}

.left-content {
    float: right;
    left: 150px; 
    border: 2px solid red;
    width: 500px;
    
}
 
.image {
    width: 100px;
    height: 100px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    width: 550px;
    height: 550px; 
    margin-left: auto;
    margin-right: auto;
}

